{% extends 'base.html' %}

{% block content %}
    <div class="main_platform">
        <div class="main_block">
            <h3>Список объявлений</h3>
            <div class="category_block">
                <a class="category_button" href={% url 'post_list' %}>Всё</a>
                {% for category in categories %}
                <a class="category_button" href="?category={{category.name}}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <ul class="home_grid">
                {% for i in posts %}
                    <a class="post_link" href={% url 'post_about' i.pk %}>
                        <div class="home_grid_elements">
                            <div class="in_home_grid_elements">
                        <li>{{ i.category }} {{ i.title }}</li>
                        <li>Цена: ${{ i.price }}</li>
                        <br>
                        <img class="home_images" src="{{ i.image.url }}" alt="post_image">
                    </div>
                    </div>
                    </a>
                {% endfor %}
            </ul>
            <div class="main_platform">
                <a class="create_button" style="text-decoration: none; color: white;" href={% url 'post_create' %}>Создать объявление</a>
            </div>
        </div>
    </div>
    
{% endblock %}